##########################################
# Visual Studio
##########################################
.vs/
Debug/
Release/
x64/
x86/
ipch/

*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.idb
*.ilk
*.iobj
*.ipdb
*.res
*.tlog
*.lastbuildstate
*.recipe
*.cache
*.enc
*.aps

##########################################
# CMake
##########################################
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
CTestTestfile.cmake
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log

##########################################
# CLion / JetBrains
##########################################
.idea/
*.iml

##########################################
# GCC / MinGW
##########################################
*.gch

##########################################
# Archives
##########################################
*.zip
*.rar
*.7z

##########################################
# Windows
##########################################
Thumbs.db
Desktop.ini
*.lnk

##########################################
# Logs / Temp
##########################################
*.log
*.tmp
*.temp

##########################################
# Keep source code
##########################################
!*.cpp
!*.c
!*.h
!*.hpp
!*.hh
!*.inl

##########################################
# Keep project files
##########################################
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user
!CMakeLists.txt

##########################################
# Keep documentation
##########################################
!*.md
!*.txt
!LICENSE*
!README*

##########################################
# Keep assets
##########################################
!assets/**